@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-display: 'Raleway', serif;
  --font-body: 'PT Sans', sans-serif;

  --blue-100: #040f1a;
  --blue-90: #081f35;
  --blue-80: #0b2c4d;
  --blue-60: #19538e;
  --blue-40: #1b67b3;
  --blue-20: #2284e6;
  --blue-10: #3399ff;
  --gray-100: #495057;
  --gray-80: #868e96;
  --gray-60: #adb5bd;
  --gray-40: #ced4da;
  --gray-20: #e9ecef;
  --gray-10: #f1f3f5;

  --padding: 2.4rem;
  --width: 140rem;
  --border-radius: 5px;
  --line-h: 200%;
  --paragraph-h: 1.3rem;
  --flex-gap-large: 3.6rem;
  --flex-gap-small: 2.4rem;
  --section-padding: 10rem;
  --card-padding: 4rem;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: var(--font-body);
  font-size: 1.6rem;
  color: var(--gray-60);
}

ul {
  list-style-type: disc;
  margin-left: 2rem;
}

li {
  line-height: var(--line-h);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), serif;
  line-height: 1.2;
}

h1 {
  font-size: 8rem;
  color: var(--gray-20);
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 4rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.5rem;
}
h6 {
  font-size: 2rem;
}

p {
  line-height: var(--line-h);
  margin-bottom: var(--paragraph-h);
}

.caption,
label {
  font-size: 1.4rem;
}

hr {
  color: var(--gray-40);
}
